<div class="example-container">
  <p class="ato">
    Pruduto
  </p><br>
  <form class="formulario" [formGroup]="listasForm">
    <div>
      <mat-checkbox appearance="fill" formControlName="done">Finalizado</mat-checkbox>
    </div>
    <mat-form-field appearance="fill"
        [hideRequiredMarker]="hideRequiredControl.value">
        <input type="hidden" formControlName="id"/>
        <input type="hidden" formControlName="creationDate"/>
        <input matInput placeholder="Titulo" formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
      <input matInput [matDatepicker]="picker" placeholder="Data de criação" formControlName="parsedDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill"
        [hideRequiredMarker]="hideRequiredControl.value"
        [floatLabel]="floatLabelControl.value">
      <mat-select formControlName="priority">
        <mat-option value="1">Alta</mat-option>
        <mat-option value="2">Média</mat-option>
        <mat-option value="3">Baixa</mat-option>
      </mat-select>
      <mat-label>Prioridade</mat-label>
    </mat-form-field><br><br>
    <mat-card-actions class="center-text">
      <button mat-raised-button color="primary" class="full-width" (click)="doRequest()" [disabled]="!listasForm.valid">
        SALVAR
      </button>
      <button mat-raised-button color="primary" class="full-width" [disabled]="!listasForm.valid" routerLink="/listas">
        Produtos
      </button>
    </mat-card-actions>
  </form>
</div>

<ngx-loading [show]="loading"></ngx-loading>

